/* Common */
input:focus{
	outline:none;
}
/* End Common */

/* Section1 */
 .section1{
 	width: 100%;
 	padding: 15px 0px;
 }
 .section1 .menu{
    display: flex;
    flex-direction: row-reverse;
    float: right;
 }
 .section1 .menu i{
 	margin-left: 2px;
  }
 .section1 .menu .menu-link{
 	float: right;
 }
 .section1 i{
 	margin-right: 5px;
 }
 .section1 .logo{
 	font-size: 20px;
 } 
/* End section1 */

/* Section2 */
  .section2{
  	width: 100%;
  	background: #004480f0;
  	height: 50px;
  	line-height: 50px;
  }
  .section2 .menu{
  	display: flex;
  }
  .section2 .menu-item{
     color: white;
     padding: 0px 10px;		
  }
  .section2 .menu-item:last-child i{
    margin-left: 5px;
  }
  .section2 .menu-item:last-child{
  	position: absolute;
  	right: 0;
  	cursor: pointer;
  }
  
   .section2 .menu-item:hover{
   	background: #001c80;
   }
  .section2 .menu-item a{
  	color: white;
  	display: block;
  	outline: none;    
  }
  .section2 button{
  	color: white;
  	background: #001c80;
  	height: 48px;
  	border: none;
  	border-radius: 0px;
  	float: right;
  }
  .section2 i{
  	margin-right: 5px;
  }
  .section2 .special{
  	display: none;
  	position: absolute;
  	top: -96%;
  	right: 5%;
  }
  .section2 .special button:hover{
  	background: green;
  }
  .section2 .special button{
  	padding: 0px 14px;
  	outline: none;
  }
  .section2 .right:hover .special{
     display: block;
  }
  
/* end section2 */
.section3{
	width: 100%;
	padding: 30px 0px;
}
.section3 h1{
   font-weight: bolder;
   font-size: 20px;	
}
.section3 .text{
	margin-top: 20px;
}
.section3 i{
	color: green;
	margin-right: 5px;
}
.section3 .card{
    padding-top: 10px;
	height: 200px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}
.section3 .text-muted{
	width: 100%;
}
.section3 img{
	width: 160px;
	height: 200px;
}
.section3 input{
	height: 38px;
	padding: 15px 20px ;
	position: relative;
	top: 1px;
}
.section3 .card-title{
	font-weight: bolder;
	border-bottom: 1px solid rgba(0,0,0,.45);
	width: 100%;
	padding: 10px 20px;
}
/* Section4 */
   .section4{
   	width: 100%;
   	background: rgba(0,0,0,.078);
   	padding-top: 50px;
   	padding-bottom: 45px;
   }
   .section4 .title{
   	font-weight: bolder;
   	padding-left: 20px;
   }
   .section4 .text{
   	margin-bottom: 10px;
   }
   .section4 .text:last-child{
   	margin-bottom: 0px;
   }
   .section4 h2{
   	margin-bottom: 25px;
   	font-weight: bolder;
   }
   .section4 .icon{
   	color: green;
   	margin-right: 5px;
   }
   .section4 .row{
	background: white;
	border-radius: 5px;
	padding-top: 25px;	
	padding-left: 25px;
}

.section4 .top{
	margin-bottom: 50px;
}
.section4 .img{
	width: 250px;
	height: 150px;
	position: relative;
	bottom: 10px;
}
/* End section4  */

/* Section5 */ 
   .section5 .container{
   	background: white;
   	border-radius: 5px;
   	padding-top: 20px;
   }
 .section5 .title{
 	text-align: center;
 	margin-bottom: 30px;
 	font-weight:bolder;
 }
 .section5 p{
   margin-bottom: 40px;
   margin-top: 20px;
   font-weight: bold;
 }
 .section5 i:hover{
 	color: green;
 	transform: scale(1.2);
 }
 .section5 i{
    font-size: 50px;
    transition: all .2s ease;
    color: grey;
 }
/* End Section5 */

/* Section6 */
   .section6{
   	width: 100%;
   	margin-top: 60px;
   }
   .section6 .row{
   	padding:50px 40px;
   }
   .section6 img{
   	width: 150px;
   	height: 150px;
   	border-radius: 50%;
   }
   .section6 .col-lg-1{
   	display: flex;
   	flex-direction: column;
   	position: relative;
    top: 10px;
   	text-align: center;
   }
   .section6 .fa-angle-up{
   	font-size: 40px;
   }
   .section6 .fa-circle{
   	margin-bottom: 10px;
   }
   .section6 .green{
   	 color: green;
   	 font-size: 30px;
   }
   .section6 .fa-angle-down{
   	font-size: 40px;
   }
   .section6 .fa-quote-left{
   	font-size: 60px;
   	margin-top: 70px;
   	margin-left: 10;
   }
/* End section6 */

/* Section7 */
  .section7{
  	width: 100%;
  	background: #004480f0;
  	padding: 40px 0px;
  }

  .section7 .title{
  	color: white;
  	font-size:20px;
  	margin-bottom: 23px;
  }
  .section7 .subtitle{
  	color: white;
  	margin-top: 10px;
  }
  .section7 .logo{
  	margin-top: 50px;
  	color: white;
  	font-size: 20px
  }
  .section7 .menu .menu-link{
  	color: white;
  }
  .section7 .menu-title{
  	color: white;
  	font-size: 20px;
  	margin-bottom: 20px;
  }
  .section7 .menu .menu-item{
  	margin-top: 10px;
  }
  .section7 .col-lg-3:nth-child(3){
  	position: relative;
  	top: 40px;
  }
  .section7 .col-lg-3:first-child
  {
     position: relative;
     top: 10px;
  }
  .section7 .public{
    display: flex;	
  }
  .section7 .top{
  	display: flex;
  	justify-content: space-between;
  	margin-bottom: 10px;
  }
  .section7 .top span{
  	color: white;
  	font-size: 16px;
  }
  .section7 input{
  	width: 100%;
  	margin-bottom: 10px;
  	height: 35px;
  	padding: 2px 10px;
  	background: #001c80;
  	border:1px solid green;
  	color: white;
  	outline: none;
  }
  .section7 textarea{
  	width: 100%;
  	height: 100px;
  	padding: 10px 10px;
  	resize: none;
  	background: #001c80;
  	border:1px solid green;
  	outline: none;
  	color: white;
  }
  .section7 .public .menu-item i{
    margin-right: 10px;
  }
  .section7 .btn{
    padding: 2px 10px;
    float: right;
    margin-top: 10px;
  }
   .section7 .logo a{
   	color: white;
   }
/* End section7 */

/* Section8 */
  .section8{
  	width: 100%;
  	background:#001c80; 
  	padding: 20px 0px;
  }
  .section8 span:first-child{
  	border-left: 2px solid black;
  	padding-left: 10px;
  	color: white;
  }
  .section8 span:last-child{
  	float: right;
  	color: white;	
  }
/* End section8 */